---
title: "Card Review: Flesh + Bones"
date: 2015/02/16
tags: news, programming
category: html5
author: kaceo

---
%p
  = link_to "Flesh + Bones", "http://dualoriginals.com/products/cards"
  is the most recent deck of playing cards I have received for my collection,
  so I figured I would review this one first. This is a deck
  hand-illustrated by
  = link_to "Dual Originals", "http://dualoriginals.com/"
  for
  = succeed "," do
    = link_to "DeckStarter", "https://deckstarter.com/"
  and I was a backer.

%p
  Admittedly, I was very frustrated because my order was really late. But
  after some back-and-forth over support and social media, DeckStarter made
  it right with me. I can be a little impatient for things I've paid for,
  but once I received the deck I was very happy and it was worth the wait.

%h2 The Box

.tile-photos-2
  = link_to "/assets/img/journal/cards/flesh-bones/box-1/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/flesh-bones/box-1/tablet.jpg", alt: "Box Photo 1"
  = link_to "/assets/img/journal/cards/flesh-bones/box-2/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/flesh-bones/box-2/tablet.jpg", alt: "Box Photo 2"

%p
  I love the design used for box. It is minimalist-- just black and white.
  It reminds me of the Bristol Board I used to print on a lot in art school.

%h2 Card Backs

.tile-photos-1
  = link_to "/assets/img/journal/cards/flesh-bones/back/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/flesh-bones/back/tablet.jpg", alt: "Back"

%p
  Most decks I have sport beautiful backs and have boring fronts. While I
  think the backs of these cards are very nice, they are less interesting
  than the fronts, which you'll see soon.

%h2 Number Cards

.tile-photos-1
  = link_to "/assets/img/journal/cards/flesh-bones/numbers/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/flesh-bones/numbers/tablet.jpg", alt: "Numbers"

%p
  The front of the number cards are smaller numbers and pips, a slight
  departure from the standard style. I like the simplicity.

%h2 The Aces

.tile-photos-1
  = link_to "/assets/img/journal/cards/flesh-bones/aces/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/flesh-bones/aces/tablet.jpg", alt: "Aces"

%p
  Usually only the Ace
  %i of
  Spades has a fancy design. I love that all four aces get a nice
  illustration.

%h2 The Face Cards

.tile-photos-3
  = link_to "/assets/img/journal/cards/flesh-bones/jacks/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/flesh-bones/jacks/tablet.jpg", alt: "Jacks"
  = link_to "/assets/img/journal/cards/flesh-bones/queens/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/flesh-bones/queens/tablet.jpg", alt: "Queens"
  = link_to "/assets/img/journal/cards/flesh-bones/kings/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/flesh-bones/kings/tablet.jpg", alt: "Kings"

%p
  I love these face cards. Instead of typical royal humans in fancy clothes,
  we get a range of monsters, including mermaids, dragons, unicorns, etc.

%h2 Jokers & Other Cards

.tile-photos-1
  = link_to "/assets/img/journal/cards/flesh-bones/extras/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/flesh-bones/extras/tablet.jpg", alt: "Extras"

%p
  The Jokers are stunning. I like the contrast between the two. One card is
  heavy with a skeleton with long hair filling most of the card. The other
  joker is stark and clean with the butterfly (or moth?) in the middle.

%p
  Finally, the deck also comes with information cards for both
  = link_to "Art <i>of</i> Play", "http://www.artofplay.com/"
  and Dual Originals.
