---
pageable: true
per_page: 12
---
.container
  %main.main(role="main")
    %h1
      Articles tagged '#{tagname}'

    - if paginate && num_pages > 1
      %p
        Page #{page_number} of #{num_pages}
      - if prev_page
        %p= link_to 'Previous page', prev_page

    %ul.list-details
      - page_articles.each_with_index do |article, i|
        %li
          %hr
          %strong= link_to article.title, article
          = precede "-- " do
            %span= article.date.strftime('%b %e')

    - if paginate
      - if next_page
        %hr/
        %p= link_to 'Next page', next_page
